.section {
	margin-bottom: 20px;
	h3 {
		font-size: 12px;
		margin-bottom: 5px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.switch {
		height: 30px;
		width: 60px;
		border-radius: 100px;
		background: #ddd;
		position: relative;		
		cursor: pointer;

		.switch-action {
			background: #fff;
			height: 26px;
			width: 26px;
			border-radius: 100px;
			top: 2px;
			left: 2px;
			position: absolute;
		}

		&.active {
			background: #53a928;

			.switch-action {
				right: 2px;
				left: auto;
			}
		}
	}
}