[data-tabs] {
	display: flex;
}
[data-tabs] >* {
	cursor: pointer;
	font-size: 14px;
}
[data-tabs] .active {
	border-bottom: 2px solid #006fb3;
	box-shadow: 0 1px 0 0 #006fb3;
}
[data-panes] > * {
	display: none;
}
[data-panes] > .active {
	display: block;
}