.code {
	pre {
		height: calc(100% - 30px) !important;
	}
}

.image {
	flex: 1;
	height: calc(100% - 40px);
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../img/transparent.gif');
	padding: 40px;
	img {
		vertical-align: bottom;
		max-height: 100%;
		max-width: 100%;
	}
}