* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  line-height: 1; }

body {
  font-family: arial; }

.back {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }
  .back a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 20px; }
    .back a:hover {
      background: #ddd; }
    .back a img {
      height: 24px;
      width: 24px;
      -webkit-transform: scale(-1, 1);
              transform: scale(-1, 1);
      margin-left: 10px;
      margin-right: 5px; }

.bar {
  height: 60px;
  background: #eee;
  border-bottom: 1px solid #ccc;
  overflow-x: auto;
  overflow-y: hidden; }
  .bar .overflow {
    min-width: 600px; }
    .bar .overflow:after {
      clear: both;
      display: table;
      content: ''; }
  .bar.type-brick {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.inspect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  height: 100%;
  float: left; }
  .inspect > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10px; }
  .inspect .switch {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 5px 0;
    margin-right: 5px;
    cursor: pointer; }
    .inspect .switch:hover {
      background: #ddd; }
    .inspect .switch:first-child {
      margin-left: 5px; }
    .inspect .switch.active {
      background: #33b300; }
      .inspect .switch.active img {
        display: block !important; }
      .inspect .switch.active .title {
        color: #fff; }
      .inspect .switch.active .icon {
        background-color: transparent;
        border: 1px solid transparent; }
    .inspect .switch .title {
      font-size: 14px;
      margin-left: 10px; }
    .inspect .switch .icon {
      background: #fff;
      border: 1px solid #ccc;
      height: 21px;
      width: 21px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .inspect .switch .icon img {
        width: 21px;
        height: 21px;
        display: none; }
  .inspect .link {
    padding: 0; }
    .inspect .link a {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      height: 50px;
      width: 50px; }
      .inspect .link a:hover {
        background: #ddd; }
      .inspect .link a img {
        height: 21px;
        width: 21px;
        opacity: .5; }

.main {
  position: fixed;
  width: calc(100% - 400px);
  height: 100%; }
  .main.active {
    width: 100%; }
  .main.type-home {
    width: calc(100% - 200px);
    background-color: #eee;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23b0b0b0' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+json+less+markdown+php+sass+yaml */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-size: 14px; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  /*margin: .5em 0;*/
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
  background: #fff;
  width: calc(100% - 300px);
  width: 100%;
  overflow-x: auto;
  position: absolute;
  height: calc(100% - 50px);
  height: 100%; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.sidebar-toggle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 5px;
  float: right; }
  .sidebar-toggle img {
    height: 24px;
    width: 24px; }
  .sidebar-toggle.active img {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }
  .sidebar-toggle:hover {
    background: #ddd; }

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  position: fixed;
  height: 100%;
  top: 0;
  display: none; }
  .sidebar p {
    padding: 20px; }
  .sidebar.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;
    padding: 20px;
    padding-bottom: 0; }
    .sidebar h2 span {
      color: #aaa;
      font-size: 18px; }
  .sidebar .bricks {
    border-left: 1px solid #ccc; }
  .sidebar .halfsides {
    border-left: 1px solid #ccc; }
    .sidebar .halfsides > * {
      height: 50%; }
    .sidebar .halfsides .pages {
      border-top: 1px solid #ccc; }
  .sidebar .overflow {
    width: 200px;
    overflow: auto;
    background: #fff; }
  .sidebar table {
    border-collapse: collapse;
    width: 100%; }
    .sidebar table tr.active td {
      background: #dff7ff;
      border: 1px solid #aceaff;
      border-left: none;
      border-right: none; }
    .sidebar table tr.active:hover td {
      background: #dff7ff; }
    .sidebar table tr td {
      border: 1px solid transparent;
      border-left: none;
      border-right: none; }
      .sidebar table tr td:first-child {
        padding-left: 20px;
        width: 1px; }
      .sidebar table tr td:last-child {
        padding-right: 20px; }
      .sidebar table tr td img {
        vertical-align: bottom;
        height: 14px;
        width: 14px; }
      .sidebar table tr td a {
        display: block;
        padding: 5px 5px;
        white-space: nowrap; }
    .sidebar table tr:hover td {
      background: #f5f5f5;
      border: 1px solid gainsboro;
      border-left: none;
      border-right: none; }

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  float: right; }
  .tabs .tab a {
    padding: 0 10px;
    height: calc(100% - 5px);
    line-height: 45px;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    border: 1px solid transparent;
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .tabs .tab.active a {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-bottom: none;
    position: relative; }

.code pre {
  height: calc(100% - 30px) !important; }

.image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: calc(100% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 8 8'%3E%3Cg fill='%23ccc' fill-opacity='0.58'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E") !important;
  padding: 40px; }
  .image img {
    vertical-align: bottom;
    max-height: 100%;
    max-width: 100%; }

.home {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .home .info {
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    .home .info h1 {
      font-size: 48px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .home .info h2 {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 30px; }
    .home .info p {
      margin-bottom: 10px; }
      .home .info p strong {
        margin-bottom: 5px;
        display: block;
        font-size: 16px; }
      .home .info p a {
        color: #4078c0; }
        .home .info p a:hover {
          text-decoration: underline; }

.html pre {
  height: calc(100% - 30px) !important; }

.iframe iframe {
  border: none;
  height: calc(100% - 60px);
  width: 100%; }
